.wppc-button {
  display: block;
  background: $buttonColor;
  border: 1px solid $buttonColor;
  padding: 10px 15px;
  color: $buttonFontColor;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    background: darken($buttonColor, 10%);
    border: 1px solid darken($buttonColor, 10%);
  }

  a {
    color: $buttonColor;
    text-decoration: none;
    transition: all 0.3s ease;
  }
}
