.wppc-button {
  display: block;
  background: #454545;
  border: 1px solid #454545;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    background: darken(#454545, 10%);
    border: 1px solid darken(#454545, 10%);
  }

  a {
    color: #454545;
    text-decoration: none;
    transition: all 0.3s ease;
  }
}
